* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.shoesTable {
    margin-top: 8vh;
    margin-left: 16vw;
    max-width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: black;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

th {
    background-color: grey;
    color: black;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 15px;
    padding: 20px 20px 20px;
}

tr {
    text-align: center;
    height: 5vh;
    border-radius: 5px;
    padding: 50px;
}

td {
    padding: 20px;
}
