* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    margin-left: 13%;
    margin-right: 13%;
    max-width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.slider {
    margin-top: 3%;
    width: 70vw;
    height: 51vh;
    border-radius : 2px ;
    border: 2px solid black;
    background-image: url("https://images.pexels.com/photos/2385477/pexels-photo-2385477.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    40% {
        background-image: url("https://images.pexels.com/photos/1266445/pexels-photo-1266445.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }

    70% {
        background-image: url("https://images.pexels.com/photos/4277508/pexels-photo-4277508.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }

    100% {
        background-image: url("https://images.pexels.com/photos/2385477/pexels-photo-2385477.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
}

#information {
    margin-top: 2%;
    width: 30vw;
    height: 40vh;
    background-color: rgba(139, 123, 123, 0);
    color: black;
    font-size: 20px;
}

#information p {
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 10%;
    font-family: 'Lato', sans-serif;
}

#sale {
    margin-top: 2%;
    width: 20vw;
    height: 40vh;
    position: relative;
}

#sale img {
    width: 100%;
    height: 100%;
    position: absolute;
}









/* Set padding to keep content from hitting the edges */
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
